
<div  dir="rtl" ng-controller="AddRecipe" align="center">
   <div>
       <h1>הוסף מתכון</h1>
   </div>
    <br><br>
   <div>
       <span>שם מתכון:</span>
       <input ng-model = 'recipe.name'>
   </div>
   <div>
       <span>השם שלי:</span>
       <input ng-model = 'recipe.owner'>
   </div>
    <br>
   <div>
       <span>מצרכים</span>
   </div>
    <br>
   <div >
       <span>שם מצרך:</span>
       <input ng-model = 'recipe.component'>

   </div>
   <div>
       <span>כמות:</span>
       <input ng-model = 'recipe.amount'>
   </div>

   <button type="button" align="center" class="btn btn-primary" ng-model="components" ng-click='addOneRecipe()' btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    add recipe
   </button>

    <button type="button" align="center" class="btn btn-primary" ng-model="singleModel" ng-click='printConsole()' btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
       console
    </button>

    <div ng-repeat="recipe.componentsAdded">
        

</div>

