<div ng-controller="DropdownCtrl">
    <span ng-model="sholi">זמן הכנה</span>
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle"  ng-disabled="disabled">
        Button dropdown <span class="caret"  ></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"></a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
</div>

