
<div  dir="rtl" ng-controller="AddRecipe" align="center">
    <div>
        <table class="tablePadding">
            <caption><h3>שלב ב'</h3></caption>
            <tr>
                <th class="tablePadding"><label>זמן הכנה:</label></th>
                <th><timepicker ng-model="timePreparation" ng-change="changed()" show-meridian="ismeridian"></timepicker></th>
            </tr>
            <tr>
            <th class="tablePadding"><label>זמן עבודה:</label></th>
            <th><timepicker ng-model="timePreparation" ng-change="changed()" show-meridian="ismeridian"></timepicker></th>
            </tr>
            <tr>
                <th class="tablePadding"><label>רמת קושי:</label></th>
                <th><timepicker ng-model="timePreparation" ng-change="changed()" show-meridian="ismeridian"></timepicker></th>
            </tr>
        </table>


   </div>
</div>

