
        <div  dir="rtl" ng-controller="SearchRecipeCtrl" align="center">
                <h1>חפש מתכון:</h1>
            <br>
                <span>מצרכים</span>
            <br>
                <span>שם מצרך:</span>
                <input ng-model = 'component'>

            <button type="button"  class="btn btn-primary" ng-model="components" ng-click='addOneRecipe()' btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                add recipe
            </button>



            <h3>טבלת מצרכים:</h3>
            <hr>

            <table class="tablePadding">

                <tr class="tablePadding" ng-repeat="component in query.components">
                    <td class="tablePadding">{{component}}</td>
                    <td class="tablePadding"><button data-ng-click="deleteComponent($index)">delete</button></td>
                </tr>
            </table>
            <hr>

            <button type="button" align="center" class="btn btn-primary" ng-model="singleModel" ng-click=searchForRecipes() btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                search recipe
            </button>

            <!--<a href="#/Results" ng-click="searchForRecipes()"><h3>חפש</h3></a>-->

        </div>

